<b>bold text</b>
<button id="waterer">button</button>


<div>Password:<input id="token" name="name"></div>
<div>Time to water (in seconds):<input id="time" name="time"></div>
<div><button id="feed1" name="Feed 1">feed 1</button></div>
<div><button id="feed2" name="Feed 2">feed 2</button></div>
<script>
    let func = function() {
            let pw = document.getElementById("token").value
            let duration = document.getElementById("time").value
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/water", true);
            xhr.onload = function() {alert(xhr.response)}
            xhr.send(JSON.stringify({password:pw, duration:duration}))
        }
    document.getElementById("waterer").addEventListener("click",
    func,
    false
);
    let func2 = function() {
        document.getElementById("feed_base").setAttribute("src", "/video_feed_1");
        }
    document.getElementById("feed1").addEventListener("click",
    func2,
    false
);
    let func3 = function() {
        document.getElementById("feed_base").setAttribute("src", "/video_feed_2");
        }
    document.getElementById("feed2").addEventListener("click",
    func3,
    false
);
</script>
<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <img id=feed_base src="/video_feed">
  </body>
</html>